
.QuantitySelector {
  display: inline-flex;
  flex-flow: row;
  justify-content: space-evenly;

  &__input {
    width: 30px;
    padding-left: 1rem;
    margin: 0 1rem;
  }

  &__btn {
    border: 2px solid #808080;
    border-radius: 16px;
    padding: 4px 8px;
    margin: 0;
    background: #fff;
    font-size: 15px;
    outline: none;
  }
}